<!--
=========================================================
* Material Kit 2 - v3.0.4
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-kit 
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
    Cuci Klear
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="../assets/css/material-kit.css?v=3.0.4" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.9.9/dist/css/tempus-dominus.min.css">
</head>

<body class="contact-us">
  <!-- Navbar -->
  <div th:replace="~{fragments/navbar.html :: navbar}">
  </div>
  <!-- -------- START HEADER 8 w/ card over right bg image ------- -->
  <section>
    <div class="page-header min-vh-100">
      <div class="container">
        <div class="row">
          <div
            class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-relative top-0 start-0 justify-content-center flex-column"
            >
            <div class="row"
            style="height: 300px; overflow-y: auto;" 
            th:include="~{order.html :: cartlist}">
            </div>
            <div class="row"
            th:include="~{order.html :: summary}"
            >
            </div>
          </div>


          <div class="col-xl-5 col-lg-6 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
            <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                  <h3 class="text-white text-primary mb-0">Check Out</h3>
                </div>
              </div>
              <div class="card-body">
                <p class="pb-3">
                  For further questions, including partnership opportunities, please email hello@creative-tim.com
                  or contact using our contact form.
                </p>
                <form id="checkout-form" method="post" autocomplete="off">
                  <div class="card-body p-0 my-3">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-group input-group-static mb-4">
                          <label>Full Name</label>
                          <input type="email" class="form-control" placeholder="Full Name">
                        </div>
                      </div>
                      <div class="col-md-6 ps-md-2">
                        <div class="input-group input-group-static mb-4">
                          <label>Email</label>
                          <input type="email" class="form-control" placeholder="hello@creative-tim.com">
                        </div>
                      </div>
                    </div>
                    <div class="form-group mb-0 mt-md-0 mt-4">
                      <div class="input-group input-group-static mb-4">
                        <div class="row">
                          <div class="col-12">
                            <label>Do you need us to come to you?</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="helpOptions" id="option1" value="true"
                                onclick="toggleAddressFields()">
                              <label class="form-check-label" for="option1">
                                Yes please!
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="helpOptions" id="option2" value="false"
                                onclick="toggleAddressFields()" checked>
                              <label class="form-check-label" for="option2">
                                No thank you, I will walk in.
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="addressFields" style="display: none;">
                        <div class="row">
                          <div class="col-12 input-group input-group-static mb-4">
                            <label for="address">Address:</label> <input type="text" class="form-control" id="address"
                              name="address">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="input-group input-group-static">
                              <label for="postcode">Postcode:</label> <input type="text" class="form-control"
                                id="postcode" name="postcode">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="input-group input-group-static">
                              <label for="city">City:</label> <input type="text" class="form-control" id="city"
                                name="city">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-12 dropdown">
                          <div class="row">
                            <label for="paymentType">Payment Type:</label>
                          </div>
                          <div class="row">
                            <div class="col-4 "> <!-- Adjust the column width here --> <select
                                class="btn btn-outline-secondary dropdown-toggle w-100" id="paymentType"
                                name="paymentType">
                                <option value="creditCard">Credit Card</option>
                                <option value="paypal">PayPal</option>
                                <option value="bankTransfer">Bank Transfer</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group"> <label for="datetimepicker">Select Date and Time</label> 
                            <div class="input-group date" id="datetimepicker" data-td-target-input="nearest" data-td-target-toggle="nearest"> 
                              <input type="text" class="form-control" data-td-target="#datetimepicker"/> 
                              <span class="input-group-text" data-td-target="#datetimepicker" data-td-toggle="datetimepicker"> 
                                <i class="fas fa-calendar-alt"></i> </span> </div> </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <button type="submit" class="btn bg-gradient-primary mt-3 mb-0">Proceed payment</button>
                        </div>
                      </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- -------- END HEADER 8 w/ card over right bg image ------- -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script> 
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
  
  <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.9.9/dist/js/tempus-dominus.min.js"></script>
  <script th:inline="javascript"> 
    document.addEventListener('DOMContentLoaded', function() { var dateTimePickerElement = document.getElementById('datetimepicker'); new tempusDominus.TempusDominus(dateTimePickerElement, { display: { components: { calendar: true, clock: true } } }); });
  </script>
  <script th:inline="javascript"> function toggleAddressFields() {
      var option1 = document.getElementById('option1');
      var addressFields = document.getElementById('addressFields');
      if (option1.checked) { addressFields.style.display = 'block'; }
      else { addressFields.style.display = 'none'; }
    } </script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    var order = /*[[${order}]]*/ "default";
    console.log("Thymeleaf Variable in JS:", order);


    /*]]>*/
  </script>
  <footer th:replace="~{fragments/footer.html :: footer}">
  </footer>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <!-- Control Center for Material UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  <script src="../assets/js/material-kit.min.js?v=3.0.4" type="text/javascript"></script>
</body>

</html>