<header class="bg-gradient-dark" th:fragment="header(title)">
    <div class="page-header min-vh-75" style="background-image: url('https://scontent.fkul6-3.fna.fbcdn.net/v/t39.30808-6/274946398_1147717755802067_3519536493846360112_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeGODTvOEgVa6aj1jgLotCdH8EBmt__mulLwQGa3_-a6Uo525YNWiA1IHO9rv-0Vs4Ch3qsVyICIf7l9Ghdsq0Cq&_nc_ohc=11a8dJYxaxkQ7kNvgGIpNjU&_nc_zt=23&_nc_ht=scontent.fkul6-3.fna&_nc_gid=AK2gfyQwFlsdVTtrNDbRDkr&oh=00_AYDMNkXv9yXc5WjzZerakn7llL36kmJNFFGa-Gml7LrUQA&oe=6733EEB7');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white" th:text=${title}>Work with an amazing design</h1>
            <p class="lead mb-4 text-white opacity-8" >#andarehatkamicuci</p>
            <h6 class="text-white mb-2 mt-5">Find us on</h6>
            <div class="d-flex justify-content-center">
              <a href="https://web.facebook.com/CuciKlear"><i class="fab fa-facebook text-lg text-white me-4"></i></a>
              <a href="https://www.instagram.com/cuci_klear/"><i class="fab fa-instagram text-lg text-white me-4"></i></a>
              <a href="https://www.tiktok.com/@cuciklear"><i class="fab fa-tiktok text-lg text-white me-4"></i></a>
              <a href="https://wa.me/60177557956"><i class="fab fa-whatsapp text-lg text-white me-4"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>