<html xmlns="http://www.w3.org/1999/xhtml">
  <head></head>

  <body>
    <nav
      class="navbar navbar-expand-lg blur border-radius-xl top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4"
      th:fragment="navbar">
      <div class="container-fluid px-0">
        <a
          class="navbar-brand font-weight-bolder ms-sm-3"
          href="https://demos.creative-tim.com/material-kit/index"
          rel="tooltip"
          title="Designed and Coded by Creative Tim"
          data-placement="bottom"
          target="_blank">
          Cuci Klear
        </a>
        <button
          class="navbar-toggler shadow-none ms-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navigation"
          aria-controls="navigation"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mt-2">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </span>
        </button>

        <div
          class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100"
          id="navigation">
          <ul class="navbar-nav navbar-nav-hover ms-auto">
            <li class="nav-item dropdown dropdown-hover mx-2">
              <a
                class="nav-link ps-2 d-flex cursor-pointer align-items-center"
                id="dropdownMenuPages"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
                Services
                <img
                  src="./assets/img/down-arrow-dark.svg"
                  alt="down-arrow"
                  class="arrow ms-auto ms-md-2" />
              </a>
              <div
                class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-xl mt-0 mt-lg-3"
                aria-labelledby="dropdownMenuPages">
                <div class="d-none d-lg-block">
                  <a href="/carseats" class="dropdown-item border-radius-md">
                    <span>Car Cushions</span>
                  </a>
                  <a
                    href="/interiorpackages"
                    class="dropdown-item border-radius-md">
                    <span>Interior Packages</span>
                  </a>
                  <a href="./" class="dropdown-item border-radius-md">
                    <span>Upholstering & Mattresses</span>
                  </a>
                  <a href="/carpet" class="dropdown-item border-radius-md">
                    <span>Carpets/Floors</span>
                  </a>
                </div>
              </div>
            </li>
            <li class="nav-item ms-lg-auto" sec:authorize="isAuthenticated()">
              <a class="nav-link nav-link-icon me-2" href="/order">
                <p class="d-inline text-sm z-index-1 font-weight-bold">
                  My cart
                </p>
              </a>
            </li>
            <li class="nav-item ms-lg-auto" sec:authorize="isAuthenticated()">
              <a class="nav-link nav-link-icon me-2" href="/orders">
                <p class="d-inline text-sm z-index-1 font-weight-bold">
                  My orders
                </p>
              </a>
            </li>
            <li class="nav-item ms-lg-auto">
              <a class="nav-link nav-link-icon me-2" href="/" target="_blank">
                <p class="d-inline text-sm z-index-1 font-weight-bold">
                  About Us
                </p>
              </a>
            </li>

            <li class="nav-item ms-lg-auto">
              <a
                class="nav-link nav-link-icon me-2"
                href="./pages/contact-us.html"
                target="_blank">
                <p class="d-inline text-sm z-index-1 font-weight-bold">
                  Contact Us
                </p>
              </a>
            </li>
            <li class="nav-item my-auto ms-3 ms-lg-0">
              <a
                th:href="@{/login}"
                class="btn btn-sm bg-gradient-primary mb-0 me-1 mt-2 mt-md-0"
                sec:authorize="isAnonymous()">
                Login
              </a>

              <!-- Show "Username" button if the user is authenticated -->
              <a
                th:href="@{/}"
                class="btn btn-sm bg-gradient-primary mb-0 me-1 mt-2 mt-md-0"
                sec:authorize="isAuthenticated()">
                <span th:text="${#authentication.name}">Username</span>
              </a>
              <a
                th:href="@{/logout}"
                class="btn btn-sm bg-gradient-primary mb-0 me-1 mt-2 mt-md-0"
                sec:authorize="isAuthenticated()">
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
  </body>
</html>
